*{
  margin: 0;
  padding: 0;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}
.fixed-top{
  width: 100vw;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.navbar-toggler-icon{
  color: silver;
  background-color: rgba(157, 230, 1, 1);
}

.nav-link{
  background: rgba(157, 230, 1, 1);
  color: white;
  border-radius: 8px;
  font-size: 17px;

}
.nav-link:hover{
  background: rgba(100, 141, 11, 1);
  color: #FFFFFF;

}
.searchInput{
  position: relative;
}
.searchIcon {
  position:absolute;
  color: rgba(157, 230, 1, 1);
  left:10px;
  top:10px;
}

.searchInput input{
  border: 1.8px solid black;
  width: 350px;
  padding: 3px 25px 3px 30px ;
  border-radius: 15px;
  outline: none;
  align-items: center;
}
.searchInput input::placeholder{
  font-size: 13px;
  text-align: left;
}

.nav-btns{
  text-align: center; 
  display: flex;
}
.nav-btns div{
  display: flex;
  justify-content: space-around;
}


.vendor select{
  border: 3px solid rgba(157, 230, 1, 1);
  border-radius: 8px;
  outline: none;
  padding: 5px 10px;
}
.vendor select option{
  color: grey;
  font-size: 15px;
  margin: 3px;
  padding: 5px;
}
.bannerHolder{
   margin-top: 5%;
}
.bannerHolder img{
  width: 100%;
}

.UpperFooter p{
  font-size: 18px;
}
.mobile{
  margin-top:-22%;
}
.mobile ul {
  list-style: none;
}
.mobile ul li{
  font-size: 18px;
  margin-top: -2%;
}

.speciality{
  text-align: center;
}
.speciality .Round{
 width: 250px;
 height: 250px;
 color: rgba(157, 230, 1, 1);
 background-color: transparent;
 border: 3px solid;
 border-radius: 50%;
 margin-bottom: 5px;
}
.speciality img{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.circle{
  width: 550px;
  height: 550px;
  background: rgba(157, 230, 1, 0.18);
  border-radius: 50%;
  z-index: -1;
  opacity: 1;
}
.circle-1{
  transform: translate(120%, -30%);
}
.circle-2{
  transform: translate(-40%, -80%);
}
.circle-3{
  transform: translate(125%, -110%);
}
.circle-4{
  transform: translate(-25%, -118%);
}
.mainPart{
  margin-top: -165%;
}
.UpperFooter h1{
  color: rgba(157, 230, 1, 1);
}
marquee{
  width: 100%;
  height: 80px;
  background-color: rgba(157, 230, 1, 0.7);
}
marquee img{
  height: 80px;
  /* border: 1px solid; */
  margin: 0px 25px;
}



.footer{
  width: 100%;
  background:linear-gradient(
    rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.87)
  ), url('./images/goc.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.footer .contact{
  text-align: center;
}
.call a{
  text-decoration: none;
  color: white;
}
.category{
  width: 100%;
  background: linear-gradient(316.32deg, rgba(157, 230, 1, 0.7) 9.72%, #FFFFFF 87.72%);

}
.category .card{
  background: transparent;
}
.category .container{
  max-width: 100%;
  margin: 0px auto;
}
.category .card-title{
  font-weight: bold;
}
.w-75{
  z-index: 111111;
}

.products{
  background: linear-gradient(
    rgba(0, 0, 0, 0.53),rgba(0, 0, 0, 0.53)
  ), url('./images/bg2.jfif') no-repeat;
  background-size: cover;
  background-position: center;
}

.products .row{
  width: 25%;
  border-radius: 0px;
}

.products .row .card {
  background-color: transparent;
  width: 100%;
  height: 320px;
  border: 1px solid white;
}
.products .row .card-img{
  width: 100%;
  height: 100%;
  border-radius: 0px;
  /* padding: 0px; */
  object-fit: cover;
}
.products .card-body{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.products .card-body::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.73) 100%);
}

.products .row .card-body-bottom{
  margin-top: -80px;
  padding: 0 12px;
  color: white;
  font-weight: 800;
  font-size: 15px;
  z-index: 1111;
  opacity: 0.9;
}

.products span p{
  width: 35px;
  height: 35px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bolder;
  font-size: larger;
  background-color: rgba(157, 230, 1, 1);
  cursor: pointer;
}
.products span p:hover{
  background-color: rgba(100, 141, 11, 1);
}

.products Button{
  background-color: rgba(157, 230, 1, 1);
}
.products Button:hover{
  background-color: rgba(157, 230, 1, 0.7);
}


Button.px-md-5{
  background-color: rgba(157, 230, 1, 1);
  border: none;
  outline: none;
  font-size: 17px;
  padding: 8px;
}
Button.px-md-5:hover{
  background: rgba(100, 141, 11, 1);

}

.modal{
  background-color: rgba(0, 0, 0, 0.33);
  
}
.modal-content{
  background: rgba(120, 166, 21, 1);
  border-radius: 15px;
  padding: 45px 25px;
  text-align: center;
}
.modal-content button{
  background-color: #FFFFFF;
  color: rgba(157, 230, 1, 1);
  font-size: 15px;
  padding: 5px 35px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.modal-content button:hover{
  background-color: rgba(100, 141, 11, 1);
}
.modal-content .or{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.modal-content span{
  width: 40%;
  color: white;
  height: 15px;
  border-top: 3px solid white;
}
.modal-content .nav-link{
  background-color: transparent;
}

button.forget{
  text-decoration: underline;
}
button.signup, button.forget{
  border: none;
  background: transparent;
  color: white;
  font-weight: 500;
}
button.signup:hover, button.forget:hover{
  background-color: transparent;
  color: rgb(224, 223, 223);
}
.form-group input{
  background: transparent;
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.47), rgba(217, 217, 217, 0.47)),
linear-gradient(0deg, #FFFFFF, #FFFFFF);

}
form label{
  width: 100%;
  text-align: left;
  color: white;
  font-weight: 500;
}
.forgetPassword input, .OTPpage input, .signupForm input{
  width: 90%;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  outline: none;
  border-bottom: 1.3px solid white;
}

@media screen and (max-width:1230px) {
  .bannerHolder{
    margin-top: 7%;
  }
  .nav-btns{
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-btns div{
    width: 100%;
  }
  .nav-btns div li{
    width: 100%;
  }
  .vendor select{
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .bannerHolder{
    margin-top: 9%;
  }
  .nav-btns{
    text-align: center; 
    display: block;
    width: 90%;
  }
  .circle{
    width: 250px;
    height: 250px;
  }
  .mainPart{
    margin-top: -135%;
  }
  .circle-1{
    transform: translate(190%, -78%);
  }
  .circle-2{
    transform: translate(-40%, -20%);

  }

  .circle-3{
    transform: translate(170%, 80%);

  }
  .circle-4{
    transform: translate(-15%, 380%);

  }
  .nav-btns div{
    display: flex;
    justify-content: space-around;
  }
  .searchInput input{
    width: 220px;
  }
  .products .row .card-body-bottom {
    margin-top: -110px;
  }  
}
@media screen and (max-width:569px) {

  .searchInput input{
    width: 255px;
  }
  .bannerHolder{
    margin-top: 16%;
    height: 50vw;
  }
  .nav-btns{
    width: 90%;
  }
  .speciality .Round {
    width: 200px;
    height: 200px;
  }
  .speciality img {
    width: 70%;
    height: auto;
    margin-top: 13%;
  }
  .circle{
    display: none;
  }
  .mainPart{
    margin-top: 5%;
  }
  .products .container .row{
    display: none;
  }
  .products .container .row.active{
    width: 80%;
    display: block;
  }
  .w-75{
    margin-left: 12%;
  }


}