*{
  margin: 0;
  padding: 0;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}
.fixed-top{
  width: 100vw;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.navbar-toggler-icon{
  color: silver;
  background-color: rgba(157, 230, 1, 1);
}

.nav-link{
  background: rgba(157, 230, 1, 1);
  color: white;
  border-radius: 8px;
  font-size: 17px;

}
.nav-link:hover{
  background: rgba(100, 141, 11, 1);
  color: #FFFFFF;

}
.searchInput{
  position: relative;
}
.searchIcon {
  position:absolute;
  color: rgba(157, 230, 1, 1);
  left:10px;
  top:10px;
}

.searchInput input{
  border: 1.8px solid black;
  width: 350px;
  padding: 3px 25px 3px 30px ;
  border-radius: 15px;
  outline: none;
  align-items: center;
}
.searchInput input::placeholder{
  font-size: 13px;
  text-align: left;
}

.nav-btns{
  text-align: center; 
  display: flex;
}
.nav-btns div{
  display: flex;
  justify-content: space-around;
}


.vendor select{
  border: 3px solid rgba(157, 230, 1, 1);
  border-radius: 8px;
  outline: none;
  padding: 5px 10px;
}
.vendor select option{
  color: grey;
  font-size: 15px;
  margin: 3px;
  padding: 5px;
}
.bannerHolder{
   margin-top: 5%;
}
.bannerHolder img{
  width: 100%;
}

.UpperFooter p{
  font-size: 18px;
}
.mobile{
  margin-top:-22%;
}
.mobile ul {
  list-style: none;
}
.mobile ul li{
  font-size: 18px;
  margin-top: -2%;
}

.speciality{
  text-align: center;
}
.speciality .Round{
 width: 250px;
 height: 250px;
 color: rgba(157, 230, 1, 1);
 background-color: transparent;
 border: 3px solid;
 border-radius: 50%;
 margin-bottom: 5px;
}
.speciality img{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

marquee{
  width: 100%;
  height: 80px;
  background-color: rgba(157, 230, 1, 0.7);
}
marquee img{
  height: 80px;
  /* border: 1px solid; */
  margin: 0px 25px;
}

.footer{
  width: 100%;
  background:linear-gradient(
    rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.87)
  ), url('./images/goc.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.footer .contact{
  text-align: center;
}
.call a{
  text-decoration: none;
  color: white;
}
.category{
  width: 100%;
  background: linear-gradient(316.32deg, rgba(157, 230, 1, 0.7) 9.72%, #FFFFFF 87.72%);

}
.category .card{
  background: transparent;
}
.category .container{
  max-width: 100%;
  margin: 0px auto;
}
.category .card-title{
  font-weight: bold;
}
Button.px-md-5{
  background-color: rgba(157, 230, 1, 1);
  border: none;
  outline: none;
  font-size: 17px;
  padding: 8px;
}
Button.px-md-5:hover{
  background: rgba(100, 141, 11, 1);

}

.modal{
  background-color: rgba(0, 0, 0, 0.73);
  
}
.modal-content{
  width: 350px;
  left: 15%;
  background: rgba(120, 166, 21, 1);
  border-radius: 15px;
  margin-top: 50%;
  padding: 45px 25px;
  text-align: center;
}
.modal-content button{
  background-color: #FFFFFF;
  color: rgba(157, 230, 1, 1);
  font-size: 15px;
  padding: 5px 35px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.modal-content .or{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.modal-content span{
  width: 40%;
  color: white;
  height: 15px;
  border-top: 3px solid white;
}
.modal-content .nav-link{
  background-color: transparent;
}
@media screen and (max-width:1230px) {
  .bannerHolder{
    margin-top: 7%;
  }
  .nav-btns{
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-btns div{
    width: 100%;
  }
  .nav-btns div li{
    width: 100%;
  }
  .vendor select{
    width: 100%;
  }
}
@media screen and (max-width:768px) {
  .bannerHolder{
    margin-top: 9%;
  }
  .nav-btns{
    text-align: center; 
    display: block;
    width: 60%;
  }
  .nav-btns div{
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width:569px) {
  .bannerHolder{
    margin-top: 16%;
  }
  .speciality .Round {
    width: 200px;
    height: 200px;
  }
  .speciality img {
    width: 70%;
    height: auto;
    margin-top: 13%;
}
}